%h1 Syllabus
%p The purpose of this class is to . By the end of this class you can:
%ul
	%li Integrate stencil into your teaching curriculum
	%li Make badges, achievements, and implement a 'leveling-up' system into your curriculum 
	%li Organize class resources on information pages
	%li Moderate an online class forum

= link_to 'Enroll now!', new_user_registration_path, :class => "btn btn-success"